/* Write your CSS here */
.list-container {
  padding: 20px;
  list-style: none;
  background-color: transparent;
  border: 1px solid #8b5cf6;
  border-radius: 10px;
  margin: 10px;
}
.title-btn-container {
  display: flex;
  justify-content: space-between;
}
.star-btn {
  outline: none;
  border-style: none;
  background-color: transparent;
  cursor: pointer;
}
@media screen and(max-width:768px) {
  .list-container {
    flex-grow: 1;
  }
}
