/* Write your CSS here */
.app-container {
  background-image: linear-gradient(to top, #9796f0, #fbc7d4);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
}
.appointment {
  width: 70%;
  background-color: #ffffff;
  border-radius: 10px;
  min-height: 60vh;
}
.app-img-container {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  width: 90%;
}
.form {
  display: flex;
  flex-direction: column;
}
.input {
  padding: 10px;
  margin-bottom: 20px;
}
.button {
  padding: 20px;
  width: 100px;
  background-color: blueviolet;
}
.header-container {
  display: flex;
  padding: 20px;
  justify-content: space-between;
}
.star-filled-btn {
  color: #ffffff;
  background-color: #8b5cf6;
  border-style: none;
}
.btn-starred {
  color: #8b5cf6;
  border: 1px solid #8b5cf6;
  background-color: transparent;
}
.btn {
  border-radius: 25px;
  padding-left: 30px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 30px;
  font-size: 14px;
}
.filtered-list-container {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .filtered-list-container {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .image {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .form {
    width: 50%;
  }
  .image {
    width: 300px;
  }
}
